name: Publish Plugin to Portal

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  packages: write

jobs:
  gradle:
    runs-on: ubuntu-latest
    environment: release
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      IS_BUILD_PUBLICATION: true
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Gradle Caches
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches/
          key: cache-gradle-cache
      - name: Cache Gradle Wrapper
        uses: actions/cache@v3
        with:
          path: ~/.gradle/wrapper/
          key: cache-gradle-wrapper
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Run Gradle tasks
        run: ./gradlew preMerge --continue
      - name: Publish Core to GitHub Packages
        run: ./gradlew :shared:plugin-core:publish
        env:
          MAVEN_URL: https://maven.pkg.github.com/${{ github.repository }}
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish on Plugin Portal
        run: ./gradlew --project-dir plugin-build setupPluginUploadFromEnvironment publishPlugins
        if: success()
      - name: Stop Gradle
        run: ./gradlew --stop
